form(name='myForm' ng-submit='createApplicant')
  div.form-group: input.form-control(type='text' placeholder="{{ 'FIRST_NAME' | translate }}"
      ng-model='applicant.first_name' required)
  div.form-group: input.form-control(type='text' placeholder="{{ 'LAST_NAME' | translate }}"
      ng-model='applicant.last_name' required)
  div.form-group: input.form-control(type='text' placeholder="{{ 'PHONE' | translate }}"
      ng-model='applicant.phone' required)
  div.form-group: input.form-control(type='text' placeholder="{{ 'ADDRESS' | translate }}"
      ng-model='applicant.address' required)
  div.form-group: input.form-control(type='text' placeholder="{{ 'SPECIALIZATION' | translate }}"
      ng-model='applicant.specialization' required)
  div.form-group: input.form-control(type='text' placeholder="{{ 'DEGREE' | translate }}"
      ng-model='applicant.degree' required)

  div.form-group: input.btn.btn-success.btn-block.btn-lg(type='submit'
      value='{{ "APPLICANTS.NEW" | translate }}'
      ng-disabled='myForm.$pristine')
