extends ../../layouts/dashboard

include ../../mixins/accountable/usernametakenalert
include ../../mixins/students/fields
include ../../mixins/progressbar


block header
  | الطالب -&nbsp;{{student.fullname}}

block content
  +progress-bar('student')

  section.row(ng-show='student')
    section.row
      ul.nav.nav-tabs.nav-justified(dir='ltr')
        li(ng-class='{active: isEditing()}' ng-hide='isTeacher()')
          a(ng-href='#/students/{{student.id}}/edit') تعديل
        li(ng-class='{active: !isEditing()}')
          a(ng-href='#/students/{{student.id}}') عرض

    br

    section.row(ng-show='isEditing()')
      +username-taken-alert('usernameConflict')
      form(name='updateForm' ng-submit='update(student)')
        +student-fields('student', 'usernameConflict', false)
        div.form-group
          input.btn.btn-success.btn-lg.btn-block(type='submit' value='تحديث'
            ng-disabled='updateForm.$invalid || updateForm.$pristine || isTeacher()')

    section.row(ng-hide='isEditing()')
      table.table.table-hovered
        tbody
          tr(ng-hide='isGuide()')
            th.text-right المشرف الأكاديمي
            td.text-right
              a(ng-href='#/guides/{{guide.id}}' ng-bind='guide.fullname')
          tr
            th.text-right اسم المستخدم
            td.text-right(ng-bind='student.username')
          tr
            th.text-right الرقم الجامعي
            td.text-right(ng-bind='student.collegial_number')
          tr
            th.text-right التخصص
            td.text-right(ng-bind='student.specialization')
          tr
            th.text-right الاسم
            td.text-right(ng-bind='student.fullname')
      hr(ng-hide='isTeacher()')
      button.btn.btn-danger.btn-lg.btn-block(type='button'
        ng-click='destroyStudent()' ng-disabled='isTeacher()'
        ng-hide='isTeacher()') حذف
      hr
      div.page-header.text-center: h2 المواد
      table.table.table-hovered
        thead
          th.text-center الرمز
          th.text-center الاسم
          th.text-center إدارة
        tbody
          tr(ng-repeat='course in currentCourses')
            td.text-center
              a(ng-href='#/courses/{{course.id}}' ng-bind='course.code'
                ng-hide='isTeacher()')
              span(ng-bind='course.code' ng-show='isTeacher()')
            td.text-center
              a(ng-href='#/courses/{{course.id}}' ng-bind='course.name'
                ng-hide='isTeacher()')
              span(ng-bind='course.name' ng-show='isTeacher()')
            td.text-center
              button.btn.btn-xs.btn-danger(type='type'
                ng-click='removeCourse(course.id)' ng-disabled='isTeacher()') حذف
      hr
      form(name='courseForm' ng-submit='addCourse(courseId)' ng-hide='isTeacher()')
        div.form-group
          select.form-control(name='teacherId' required ng-model='courseId'
            ng-options='newCourse.id as newCourse.code for newCourse in newCourses')
        div.form-group
          input.btn.btn-success.btn-lg.btn-block(type='submit' value='أضف المادة'
            ng-disabled='courseForm.$invalid || isTeacher()')
