extends ../../layouts/dashboard

include ../../mixins/teachers/fields
include ../../mixins/conflictalert


block header
  | الأستاذ -&nbsp;{{teacher.fullname}}

block content
  section(ng-show='teacher')
    section
      ul.nav.nav-tabs.nav-justified(dir='ltr')
        li(ng-class='{active: isEditing()}' ng-show='isSupervisor()')
          a(ng-href='#/teachers/{{teacher.id}}/edit') تعديل
        li(ng-class='{active: !isEditing()}')
          a(ng-href='#/teachers/{{teacher.id}}') عرض

    br

    section(ng-show='isEditing()')
      +conflict-alert('isUsernameConflict', 'يوجد استاذ بنفس اسم المستخدم')
      form(name='editTeacherForm' ng-submit='update(teacher)')
        +teacher-fields('teacher', 'isUsernameConflict', false)
        div.form-group
          input.btn.btn-primary.btn-lg.btn-block(type='submit' value='حفظ'
            ng-disabled='editTeacherForm.$invalid || editTeacherForm.$pristine')

    section(ng-hide='isEditing()')
      div.table-responsive: table.table.table-hover
        thead
        tfoot(ng-show='teacher.is_guide')
          tr
            th.text-center(colspan='2'): a(ng-href='#/guides/{{teacher.id}}') صفحة المشرف الأكاديمي
        tbody
          tr
            th.text-right اسم المستخدم
            td.text-right(ng-bind='teacher.username')
          tr
            th.text-right الاسم الكامل
            td.text-right(ng-bind='teacher.fullname')
          tr
            th.text-right التخصص
            td.text-right(ng-bind='teacher.specialization')

      section(ng-show='isSupervisor()')
        hr
        button.btn.btn-danger.btn-lg.btn-block(ng-click='destroy()') حذف

      section(ng-show='classes')
        hr
        article
          header: h2.text-center الشعب
          hr
          div.table-responsive: table.table.table-striped.table-condensed
            thead
              tr
                th.text-center رمز الشعبة
                th.text-center رمز المادة
                th.text-center النشاط
                th.text-center الساعات
                th.text-center اليوم
                th.text-center الوقت
                th.text-center الفصل الدراسي
                th.text-center(ng-show='isSupervisor()') إدارة
            tbody
              tr(ng-repeat='class in classes | orderBy:"day"'
                ng-class='{danger: hasCollision(class)}')
                td.text-center(title='{{class.name}}')
                  a(ng-href='#/classes/{{class.id}}' ng-bind='class.code')
                td.text-center(title='{{class.course.name}}')
                  a(ng-href='#/courses/{{class.course.id}}' ng-bind='class.course.code'
                    ng-show='isSupervisor()')
                  span(ng-bind='class.course.code' ng-hide='isSupervisor()')
                td.text-center(ng-bind='class.type')
                td.text-center(ng-bind='class.hours')
                td.text-center {{ class.day      | day }}
                td.text-center {{ class.schedule | schedule }}
                td.text-center {{ class.semester | semester }}
                td.text-center(ng-show='isSupervisor()')
                  button.btn.btn-xs.btn-danger(ng-click='removeClass(class.id)') حذف

      section(ng-show='newClasses && isSupervisor()')
        hr
        form(name='courseForm' ng-submit='addClass(classId)')
          div.form-group
            select.form-control(name='classId' required ng-model='classId'
              ng-options='newClass.id as newClass.name for newClass in newClasses')
          div.form-group
            input.btn.btn-success.btn-lg.btn-block(type='submit' value='أضف المادة'
              ng-disabled='courseForm.$invalid || courseForm.$pristine')

      section(ng-show='schedule')
        hr
        header: h2.text-center جدول الأستاذ
        hr
        div.table-responsive: table.table.table-hover
          thead
            tr
              th.text-center اليوم/الوقت
              th.text-center(ng-repeat='hour in hours') {{ hour }}:00
          tbody
            tr(ng-repeat='day in days' ng-init='daySchedule = schedule[$index]')
              th.text-center(ng-bind='day')
              td.text-center(ng-repeat='hour in hours'
                ng-init='hourSchedule = daySchedule[hour]; class = hourSchedule[0]'
                colspan='{{class ? (class.schedule.to - class.schedule.from) : 1}}'
                ng-class='{danger: (hourSchedule.length > 1)}')
                a(ng-show='class' ng-href='#/class/{{class.id}}' ng-bind='class.course.name')
