mixin applicant-fields(recordName, formName)
  - g = function(s) { return ("{'has-error':" + formName + '.' + s + '.$invalid}'); }
  - f = function(s) { return (recordName + '.' + s); }

  - fn = 'fullname'
  div.form-group(ng-class=g(fn))
    label(for=fn) الاسم الكامل
    input.form-control(id=fn type='text' placeholder="الاسم الكامل" name=fn
      ng-model=f(fn) required autofocus)

  - phone = 'phone'
  div.form-group(ng-class=g(phone))
    label(for=phone) رقم الهاتف
    input.form-control(id=phone type='text' placeholder="رقم الهاتف" name=phone
      ng-model=f(phone) required)

  - email = 'email'
  div.form-group(ng-class=g(email))
    label(for=email) البريد الإلكتروني
    input.form-control(id=email type='email' placeholder="رقم الهاتف" name=email
      ng-model=f(email) required)

  - address = 'address'
  div.form-group(ng-class=g(address))
    label(for=address) العنوان
    input.form-control(id=address type='text' placeholder="العنوان" name=address
      ng-model=f(address) required)

  - specialization = 'specialization'
  div.form-group(ng-class=g(specialization))
    label(for=specialization) التخصص
    select.form-control(id=specialization type='text' placeholder="التخصص"
      ng-model=f(specialization) required name=specialization)
      option لغة انجليزية
      option علوم شرعية
      option لغة عربية
      option حاسب آلي
      option إدارة أعمال
      option كيمياء
      option فيزياء

  - degree = 'degree'
  div.form-group(ng-class=g(degree))
    label(for=degree) الدرجة العلمية
    select.form-control(id=degree type='text' placeholder="الدرجة العلمية" name=degree
      ng-model=f(degree) required)
      option أستاذ
      option أستاذ مساعد
      option دكتور
      option محاضر

  include ./files
  br

  //- each label, file in {'bachelor_certificate': 'شهادة البكالوريوس', 'master_certificate': 'شهادة الماجستير', 'doctorate_certificate': 'شهادة الدكتوراة', 'cv': 'السيرة الذاتية'}
  //-   div.form-group
  //-     label(for=file)= label
  //-     input(id=file name=file type='file' placeholder=file)
