mixin applicant-fields(recordName)
  div.form-group
    label(for='fn') الاسم الكامل
    input#fn.form-control(type='text' placeholder="الاسم الكامل" name='fn'
      ng-model=(recordName + '.full_name') required autofocus)

  div.form-group
    label(for='phone') رقم الهاتف
    input#phone.form-control(type='text' placeholder="رقم الهاتف" name='phone'
      ng-model=(recordName + '.phone') required)

  div.form-group
    label(for='address') العنوان
    input#address.form-control(type='text' placeholder="العنوان" name='address'
      ng-model=(recordName + '.address') required)

  div.form-group
    label(for='specialization') التخصص
    input#specialization.form-control(type='text' placeholder="التخصص"
      ng-model=(recordName + '.specialization') required name='specialization')

  div.form-group
    label(for='degree') الدرجة العلمية
    input#degree.form-control(type='text' placeholder="الدرجة العلمية" name='degree'
      ng-model=(recordName + '.degree') required)
