mixin class-fields(recordName, teachers, courses, isCodeConflict)
  div.form-group(ng-class=("{'has-warning': " + isCodeConflict + '}'))
    label(for='classCode') رمز الشعبة
    input#classCode.form-control(type='number' name='classCode' placeholder='رمز الشعبة' required
      autofocus ng-model=(recordName + '.code') min='1' ng-min='1')
  div.form-group
    label(for='className') اسم الشعبة
    input#className.form-control(type='text' name='className' placeholder='اسم الشعبة'
      ng-model=(recordName + '.name'))
  div.form-group
    label(for='classTeacher') المحاضر
    select#classTeacher.form-control(name='classTeacher' placeholder='المحاضر' required
      ng-model=(recordName + '.teacher_id')
      ng-options='teacher.id as teacher.fullname for teacher in ' + teachers)
  div.form-group
    label(for='classCourse') المادة
    select#classCourse.form-control(name='classCourse' placeholder='المادة' required
      ng-model=(recordName + '.course_id')
      ng-options='course.id as course.code for course in ' + courses)
  div.form-group
    label(for='classDay') اليوم
    select#classDay.form-control(name='classDay' placeholder='اليوم' required
      ng-model=(recordName + '.day'))
      option(value='0' selected) الأحد
      option(value='1') الإثنين
      option(value='2') الثلاثاء
      option(value='3') الأربعاء
      option(value='4') الخميس
  div.form-group
    label(for='classType') النشاط
    select#classType.form-control(name='classType' placeholder='النشاط' required
      ng-model=(recordName + '.type'))
      option(selected) محاضرة
      option عملي
  div.form-group
    label(for='classHours') عدد الساعات
    input#classHours.form-control(type='number' value='2' min='1' max='30' required
      ng-model=(recordName + '.hours'))
