mixin teachers(teachers)
  include ../progressbar

  div.row
    +progress-bar(teachers + '.length > -1')

  div(ng-show=teachers)
    div.row
      div.form-group
        input.form-control(type='text' ng-model='query'
          placeholder='بحث' autofocus)

    div.row
      div.table-responsive
        table.table.table-hover.table-condensed.text-center
          thead
            tr
              th.text-center الاسم
              th.text-center اسم المستخدم
              th.text-center تعديل
          tbody
            tr(ng-repeat=('teacher in ' + teachers + ' | filter:query'))
              td(ng-bind='teacher.fullname')
              td(ng-bind='teacher.username')
              td
                div.btn-group(ng-show='!isEditing(teacher.id)')
                  button.btn.btn-xs.btn-danger(type='button'
                    ng-click='destroy(teacher.id)') حذف
                  button.btn.btn-xs.btn-success(type='button' ng-click='addToGuides(teacher.id)'
                    ng-show='!teacher.is_guide')
                    span.glyphicon.glyphicon-plus
                    | &nbsp;
                    | مشرف
                  button.btn.btn-xs.btn-danger(type='button'
                    ng-click='removeFromGuides(teacher.id)' ng-show='teacher.is_guide')
                    span.glyphicon.glyphicon-minus
                    | &nbsp;
                    | مشرف
                  button.btn.btn-xs.btn-primary(type='button' disabled) تعديل
                div.btn-group(ng-show='isEditing(teacher.id)')
                  button.btn.btn-xs.btn-default(type='button'
                    ng-click='reset(teacher.id)') إلغاء
                  button.btn.btn-xs.btn-primary(type='button'
                    ng-click='update(teacher.id, teacher)') حفظ
